.titleModal {
  color: #f2f2f2;
  padding-bottom: 5px;
  font-weight: bolder;
}

.coockiesModal {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  position: fixed;
  z-index: 1;
  bottom: 5%;
  left: 5%;
  width: 70%;
  background-color: #2e2e2e;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  border: 2px solid #2e2e2e;
  align-items: center;
}
.btnContainer {
  margin-top: 10px;
}
.cookiesBtn {
  border-radius: 10px;
  float: right;
  width: 8vw;
  height: 6vh;
  font-size: 15px;
  font-weight: bold;
  padding: 3px 11px;
  margin-top: 3;
  margin-right: 8vh;
  background-color: #f2f2f2;
  color: #2e2e2e;
  border: solid 1px #2e2e2e;
  cursor: pointer;
}

.rejectBtn {
  background-color: #f2f2f2;
  color: #2e2e2e;
  border: solid 1px #2e2e2e;
  cursor: pointer;
}

.acceptBtn {
  border: none;
  color: rgba(255, 255, 255, 1);
  background-color: #0d6073;
  float: right;
  font-weight: bold;
  margin-right: 4vh;
  cursor: pointer;
}
.rejectBtn:hover {
  border-color: #2e2e2e;
  color: #2e2e2e;
  background-position: 100% center;
}

.acceptBtn:hover {
  border-color: #05c7f2;
  color: #f2f2f2;
  background-position: 100% center;
  border: none;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(92, 143, 182, 0.4);
}
