.historic-container {
  background-color: #1c1d21;
  height: 45vh;
  padding-bottom: 20px;
  padding-left: 2vw;
}

.historic-subtitle {
  margin: auto;
  padding: 1rem;
  background-color: #1c1d21;
}
table {
  width: 90vw;
  height: 30vh;
  border-radius: 1rem;
  border-collapse: collapse;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
  background: #1c1d21;
}
table thead {
  background: #0d6073;
  border-radius: 0.5rem 0.5rem 0 0;
}
table tr:hover {
  background: #05c7f2;
}
table tr:hover td {
  color: #555;
}
table th,
table td {
  color: #999;
  padding: 6px 19px;
  border-collapse: collapse;
  text-align: center;
}
table th {
  color: #f2f2f2;
  text-transform: uppercase;
  font-size: 12px;
}

table th.last {
  border-right: none;
}
