.historic-container-items {
  background-color: #1c1d21;
  padding-bottom: 20px;
}

.historic-container {
  background-color: #1c1d21;
  padding-bottom: 20px;
  padding-left: 2vw;
}
.historic-subtitle-conateiner {
  display: flex;
}
.historic-subtitle {
  margin: auto;
  text-align: center;
  padding: 1rem;
  background-color: #1c1d21;
}
.historic-subtitle p {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid red;
}

table {
  width: 90vw;
  height: 30vh;
  border-radius: 1rem;
  border-collapse: collapse;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
  background: #1c1d21;
}
table thead {
  background: #0d6073;
  border-radius: 0.5rem 0.5rem 0 0;
}
table tr:hover {
  background: #05c7f2;
}
table tr:hover td {
  color: #555;
}
table th,
table td {
  color: #999;
  padding: 6px 19px;
  border-collapse: collapse;
  text-align: center;
}
table th {
  color: #f2f2f2;
  text-transform: uppercase;
  font-size: 12px;
}

table th.last {
  border-right: none;
}

.show-historic {
  right: 40%;
  background-color: #1c1d21;
  padding-top: 1rem;
}

.divfiter {
  justify-content: center;
}

.historic-subtitle {
  background-color: var(--color-secundary-200);
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}
.historic-subtitle:hover {
  background-color: var(--color-secundary-500);
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.footer-pagination {
  display: flex;
}
.footer-pagination span {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .historic-subtitle-conateiner {
    display: flex;
    flex-direction: column;
  }
}
