*{
    font-family: "Lora", serif;
    box-sizing: border-box;
}
.recovery p{
    top: 10%;
    margin: 30px;
    font-size: 22px;
}
.recovery{
    /* transform: translateY(-50% -50%); */
    position: relative;
    justify-content: center;
    /* align-items: center; */
    padding: 5px;
    left: 43%;
    top: 20%;
    border-radius: 20px;
    height: 500px;
    width: 300px;
    text-align: center;
    background-color: #0d6073;
    opacity: 0.8;   
}
.recovery-form{
    position: relative;
    align-items: start;
    justify-content: start;
    top:  5%;
}
.recovery input{
    text-align: center;
    position: relative;
    margin: 10px;
    padding: 10px;
    top: 100px;
    border: 5px solid #05cff2;
    border-radius: 10px;
    width: 250px;
    font-size: 20px;
    color: black;
}
.recovery label{
    position: absolute;
    left: 5%;
    top: 0;
    font-size: 30px;
    color: #0d0d0d;
}
.recovery-buttom{
    border: #0d0d0d solid;
    border-radius: 10px;
    color: #0d0d0d;
    font-size: 20px;
    width: 100px;
    height: 50px;
    position: absolute;
    left: 33%;
    top: 350px;

}
.recovery-buttom:hover{
    cursor: pointer;
    background-color: #05cff2; 
    border-color: #05c7f2;
    transform: scale(1.10);

}