#body-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.main-container-style {
    height: 100%;
    width: 40%;
    background-color: #0D0D0D;
    padding: 2% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#side-image {
    display: block;
    position: static;
    height: 100%;
    width: 100%;
    background-image: url('../IMG/mulher-segurando-smartphone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#successfully-side-image {
    display: block;
    position: static;
    height: 100%;
    width: 100%;
    background-image: url('../IMG/welcome-crowd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#header-title {
    font-size: 1.5rem;
    color: #E8EAED;
    text-align: center;
}

.forms-header-container {
    height: 15%;
    min-height: 4rem;
    width: 100%;
    align-items: center;
}

#forms-container-style {
    height: 85%;
    width: 100%;
}

#submit-button-container {
    align-items: center;
    margin: 10% 0 0 0;
}

#main-container-success-sign-up-style {
    justify-content: space-around;
    align-items: center;
}

#sign-up-go-to-login-page-style {
    width: 40%;
    height: 10%;
    color: #E8EAED;
    border-radius: 0.25rem;
    padding: 0.625 1.25;
    font-size: 1rem;
    background-color: #05C7F2;
}

#success-welcome-message-style {
    height: 20%;
}

#success-icon {
    width: 50%;
}

.no-button-style {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.submit-button-style {
    width: 60%;
    height: 70%;
    color: #E8EAED;
    border-radius: 0.25rem;
    padding: 0.625 1.25;
    font-size: 1rem;
    background-color: #05C7F2;
    border: solid 1px #E8EAED;
    transition-timing-function: ease;
    background: #fff linear-gradient(90deg, black 50%, #0d6073 50%);
    transition-duration: 0.5s;
}

.submit-button-style:hover {
    border-color: #05c7f2;
    color: #f2f2f2;
    background-position: 100% center;
    border: none;
    transform: scale(1.05);
}

.forms-sections-containers {
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 3% 0 0 0;
}


.labels-styling {
    display: block;
    width: 100%;
    height: 50%;
    color: #E8EAED;
    font-weight: 600;
}

.inputs-style {
    height: 50%;
    width: 100%;
    padding: 0 0 0 1%;
    border: 1px solid #E8EAED;
    border-radius: 4px;
    background-color: transparent;
    transition: box-shadow 0.3s ease;
    color: #E8EAED;
    padding: 0 0 0 5%;
}

.inputs-style:focus {
    outline: #05DBF2 solid 0.1rem;
}

.inputs-style:hover {
    box-shadow: 0 0 0.25rem #05DBF2;
}

.inputs-style::placeholder {
    font-weight: 500;
    color: #E8EAED;
}