@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f2f2f2;
  font-family: "Lora", serif;
}
body {
  background-color: black;
  background-image: url(/SharpTroppers_ImaPay/IMG/global-communication-background-business-network-design.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-container {
  padding: 1em;
  margin: auto;
  background-color: darkgreen;
  height: 10vh;
  margin-bottom: 1em;
}
main {
  max-width: 1366px;
}
.home-container {
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 80vh;
  width: 95%;
  gap: 20px;
  grid-template-columns: 20fr 40fr 40fr;
  justify-items: center;
}

.card-container {
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  position: relative;
}

.primary-box {
  font-size: 37px;
  height: 50vh;
}

.secondary-box {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 60vw;
  height: 50vh;
}
.button-account {
  background-color: #0d6073;
  width: 14vw;
  height: 7vh;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .home-container {
    display: block;
  }
  .home-container > div {
    margin-bottom: 5%;
  }
  .home-container > * {
    width: 100%;
  }
}
