@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f2f2f2;
  font-family: "Lora", serif;
}
body {
  background-color: black;
  background-image: url(/SharpTroppers_ImaPay/IMG/global-communication-background-business-network-design.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-container {
  padding: 1em;
  margin: auto;
  background-color: darkgreen;
  height: 10vh;
  margin-bottom: 1em;
}

.home-container {
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 100%;
  width: 95%;
  justify-items: center;
}

.card-container {
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  position: relative;
}

.primary-box {
  font-size: 37px;
  height: 50vh;
}

.secondary-box {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  align-items: flex-start;
  width: 60vw;
}
.button {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
}
.button-account {
  background-color: black;
  text-decoration: none;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 14vw;
  height: 7vh;
  border: solid 1px #05c7f2;
  border-radius: 8px;
  cursor: pointer;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  background: #fff linear-gradient(90deg, black 50%, #0d6073 50%);
  background-position: 0% center;
  background-size: 200%;
}

.button-account:hover {
  border-color: #05c7f2;
  transform: scale(1.05);
  color: #f2f2f2;
  background-position: 100% center;
  border: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;

  overflow: auto;
}

.modal-content {
  height: 400px;
  background-color: #2e2e2e;
  margin: auto;
  padding: 20px 20px 50px 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
}

embed  {
  width: 100%;
  height: 100%;
  background-color:#f2f2f2;
  color: #fff;
} 

.close:disabled {
  background-color: #839497;
  color: #666;
}

.close {
  margin: 10px;
  border: none;
  border-radius: 3px;
  background-color: #0d6073;
  float: right;
  font-size: 15px;
  font-weight: bold;
  padding: 1px 8px;
  margin-top: 3;
}
.terms-and-conditions  {
  margin: 8px 9px 8px 1px;
}

 label {
  font-size: 21px;
}



@media (max-width: 600px) {
  .home-container {
    display: flex;
    flex-direction: column;
  }
  .primary-box {
    height: 100%;
    width: 100%;
  }
  .secondary-box {
    width: 100%;
  }
  .paragraph {
    width: 56vw;
    text-align: justify;
  }

  .button-account {
    width: 40vw;
    height: 8vh;
  }
  .button-account:hover {
  }
  label {
    font-size: 16px;
}
}
