* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

.nav-container {
  padding: 1em;
  margin: auto;
  background-color: darkgreen;
  height: 10vh;
  margin-bottom: 1em;
}

.home-container {
  margin: auto;
  display: grid;
  height: 80vh;
  width: 95%;
  gap: 20px;
  grid-template-columns: 20fr 40fr 40fr;
  justify-items: center;
}

.card-container {
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  background-color: darkgreen;
  position: relative;
}

.primary-box {
  font-size: 36px;
  grid-column: 1 / span 2;
}

.secondary-box {
  font-size: 24px;
}
.second-card {
  grid-column: 2;
  grid-row: 2 / span 2;
}

.fourth-card {
  height: 20%;
}

.fifth-card {
  height: 80%;
}

.flex-container {
  gap: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-column: 3;
  grid-row: 2 / span 2;
}
