.header-container {
  border-bottom: solid 0.1px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  margin-bottom: 2vh;
  gap: 15vw;
}

.homepage-link {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 0.5vw;
}
.logo-img {
  width: 3vw;
  height: 6vh;
}
.header-logo {
  display: flex;
  justify-content: space-evenly;
  width: 14vw;
}
.header-logo span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-container {
  display: flex;
  width: 40vw;
}
.nav-options {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-option {
  list-style: none;
}

.nav-link:hover {
  color: var(--color-secundary-200);
}
.nav-link {
  text-decoration: none;
}

.login-signup-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.login-text {
  color: inherit;
}

.login-box::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  transition: 300ms;
}
.login-box:hover::after {
  border-bottom: solid 1px;
  width: 80%;
  color: var(--color-secundary-200);
}

.signup-btn {
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  text-decoration: none;
}
.signup-btn::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  transition: 300ms;
}
.signup-btn:hover::after {
  border-bottom: solid 1px;
  width: 80%;
  color: var(--color-secundary-200);
}

.signup-btn:hover {
  color: var(--color-secundary-200);
}

.login-btn {
  display: flex;
  list-style: none;
  text-decoration: none;
  align-items: center;
  gap: 10px;
}

.login-btn:hover {
  color: var(--color-secundary-200);
}
@media (max-width: 500px) {
  .nav-container {
    display: none;
  }
  .header-container {
    justify-content: space-evenly;
  }
  .signup-btn {
    height: 100%;
    width: 100%;
  }
  .login-box {
    align-items: flex-end;
    width: 50%;
  }
  .login-signup-box {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
  }
  .header-logo {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
  }

  .logo-img {
    width: 100%;
  }
}
