@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

:root {
  --color-secundary-500: #0d6073;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f2f2f2;
  font-family: "Lora", serif;
}