@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
:root {
  --color-primary-100: #fff;
  --color-secundary-200: #05c7f2;
  --color-secundary-500: #0d6073;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-primary-100);
  font-family: "Lora", serif;
}
body {
  background-color: black;
  background-image: url(./assets/img/stars.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
