.cards-flex-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 2%;
}

.cards-flex-container > div {
  height: 100%;
  width: 100%;
}

.image-container {
  width: 100%;
}
.image-container > img {
  width: 100%;
}

.btn-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.btn {
  width: 150px;
  height: 50px;
}
