* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  padding: 10px;
  margin: auto;
  background-color: darkgreen;
  height: 5vh;
  margin-bottom: 2%;
}

.cards-container {
  margin: auto;
  display: grid;
  height: 70vh;
  width: 90%;
  gap: 20px;
  grid-template-columns: 40fr 30fr 30fr;
  justify-items: center;
}

.card-container {
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  background-color: darkgreen;
}

.first-card {
  grid-row: 1/3;
}
.second-card {
  grid-column: 2/4;
}
